/*
font-family: 'Oswald', sans-serif;
*/


body{
    background-color: #ff7675;
    margin: auto;
}



#footer{
    background-color: #ff7675;
    background: linear-gradient(to top, #52595b, #2d3436);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#footer ul li{
    padding: 10px;
}

#footer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}

#footer p{
    margin: 0;
}

#store-location{
    background: linear-gradient(to bottom, #52595b, #2d3436);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#store-location h1{
   font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 700px;
    font-size: 50px;
    color: #ecf0f1;
   
}

#map-responsive{
    width: 80%;
}

#map-responsive iframe{
    border-radius: 10px;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#box{
    width: 350px;
    height: 500px;
    background: linear-gradient(to top, #fcfcfc, #ecf0f1);
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}


#prod-top{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 50px;
    color: azure;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding: 5px;
    
}

#box h1{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
  
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#details p{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0;
    text-align: center;
}


#main-model{
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

#model {
    height :auto;
    width: 100px;
}

#main-product-list{
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#product-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-flow: wrap;
}

#product-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 50px;
    color: azure;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding: 5px;
}


#product-box{
    width: 200px;
    height: 250px;
    background: linear-gradient(to top, #fcfcfc, #ecf0f1);
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#product-box h1{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0%;
}

#product-box h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0%;
}

#prod-model{
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}


 @media (max-width: 768px) {
   #store-location h1{
        font-size: 40px;
    }

    #product-list{
        padding: 0%;
    }

    #product-headin{
        text-align: center;
    }

    #prod-top{
        text-align: center;
    }

    #product-box{
        width: 130px;
        height: 150px;
        font-size: 30px;
    }
    #prod-model{
        height: 80px;
        
    }

    #box{
        width: 300px;
        height: 350px;
        padding-bottom: 20px;
    }
       #main-model{
            height: 150px;
        }   
        #details p {
            font-size: 12px;
        }
        #box h1 {
            font-size: 20px;
        }
       #model{
            height: 80px
        }

        #product-box h1{
          font-size: 13px;

        }
        
        #product-box h2{
            font-size: 13px;
        }
}